.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1353d1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fb9961;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body.sidebar-expanded .main-content {
  margin-left: 250px;
  transition: margin-left 0.3s ease;
}

body.sidebar-collapsed .main-content {
  margin-left: 70px;
  transition: margin-left 0.3s ease;
}

/* CONTENIDO PRINCIPAL AJUSTE CON SIDEBAR */
.main-content {
  transition: margin-left 0.3s ease;
  width: calc(100% - 250px);
/*   overflow-x: auto; */
}